<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cool Project</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="app">
    <div class="container">
      <div ng-controller="ShelterController">

        <h4>Add a new Shelter</h4>
        <form ng-submit="addShelter(shelter)">
          <p class="control">
            <input type="text" placeholder="Name"
                   ng-model="shelter.name" />
          </p>

          <p class="control">
            <input type="text" placeholder="Location"
                   ng-model="shelter.location" />
          </p>
          <p class="control">
            <button class="button is-primary">Create</button>
          </p>
        </form>
        <p ng-show="currentShelter">Your Shelter Id is {{ currentShelter.id }}.</p>

      </div>

      <div ng-controller="AnimalController">
        <h4>Add a Puppy!!!</h4>
        <form ng-submit="addPuppy(pup, shelterId)">
          <p class="control">
            <input type="text" placeholder="Name"
                   ng-model="pup.name" />
          </p>
          <p class="control">
            <input type="text" placeholder="Breed"
                   ng-model="pup.breed" />
          </p>
          <p class="control">
            <input type="text" placeholder="http://cute-puppy.jpg"
                   ng-model="pup.photoUrl" />
          </p>
          <p class="control">
            <input type="text" placeholder="shelterId"value=""
                   ng-model="shelterId" />
          </p>
          <p class="control">
            <button class="button is-primary">Create</button>
          </p>
        </form>

        <p ng-show="currentPuppy">{{ currentPuppy.name }} has baeen put up for adoption. Thank you!</p>

        <div>
          <h4>Puppies for Adoption at Harmony Grove</h4>
          <ul class="puppies">
            <li ng-repeat="puppy in puppies">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="{{ puppy.photoUrl }}" alt="Image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">{{ puppy.name }}</p>
                      <p class="subtitle is-6">{{ puppy.breed }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
