<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cool Project</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="app">
    <div class="container">
      <div ng-controller="ShelterController">

        <h4>Add a new Shelter</h4>
        <form ng-submit="addShelter(shelter)">
          <p class="control">
            <input type="text" placeholder="Name"
                   ng-model="shelter.name" />
          </p>

          <p class="control">
            <input type="text" placeholder="Location"
                   ng-model="shelter.location" />
          </p>
          <p class="control">
            <button class="button is-primary">Create</button>
          </p>
        </form>
        <p ng-show="currentShelter">Your Shelter Id is {{ currentShelter.id }}.</p>

      </div>

      <div ng-controller="AnimalController">
      </div>
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
