<h4 class="title">Puppies for Adoption</h4>
<ul class="puppies">
  <li ng-repeat="puppy in animalsVm.puppies">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img ng-src="{{ puppy.photoUrl }}" alt="Image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ puppy.name }}</p>
            <p class="subtitle is-6">{{ puppy.breed }}</p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
