<nav>
  <div class="nav-right nav-menu">
    <a class="nav-item" href="#!/home">
      Home
    </a>
    <a class="nav-item" href="#!/shelters/new" ng-show="layoutVm.loggedIn">
      Add Shelter
    </a>
    <a class="nav-item" href="#!/animals/new" ng-show="layoutVm.loggedIn">
      Add Puppy
    </a>
    <a class="nav-item" href="#!/sign-up" ng-hide="layoutVm.loggedIn">
      Sign Up / Sign In
    </a>
    <a class="nav-item" ng-show="loggedIn" ng-click="layoutVm.signOut()">
      Sign Out
    </a>
  </div>
</nav>

<div class="main-content" ui-view>
</div>
